.wrapper{
   
}

.flex-container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    border-style: solid;
    border-color: red;
    
}

 .flex-container > div {
    border: 1px solid black;

  } 
  /* .flex-container > div:hover {
    background-color:#FF0000;

  }  */



/* .flex-container>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  } */